.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__link {
  @extend %flex-center;
  width: 170px;
  height: 90px;
  border: 1px solid $clients-logo-border;
  border-radius: 4px;

  color: $clients-logo-border;
  cursor: pointer;

  transition: border-color 250ms $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-text-color;
  }
}

.clients__title {
  margin-bottom: 50px;
}

.clients__logo {
  fill: $clients-logo-border;

  transition: fill 250ms $timing-function;

  .clients__link:hover &,
  .clients__link:focus & {
    fill: $accent-text-color;
  }
}
