.footer-info {
  background-color: $accent-background;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-data {
  display: flex;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;

  color: $main-white;
  font-family: Raleway, sans-serif;
  @include font(26px, 700, 1.19);
  letter-spacing: 0.03em;

  &--accent {
    color: $accent-text-color;
  }
}

.footer-address-list {
  display: block;
  min-width: 231px;
  margin-right: 70px;
  list-style: none;
}

.footer-address__location,
.mail {
  display: block;
  margin-bottom: 9px;

  color: $main-white;
  font-family: Roboto, sans-serif;
  @include font(14px, 400, 1.71);
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer-contacts {
  font-family: Roboto, sans-serif;
  font-style: normal;
  @include font(14px, 400, 1.71);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  color: $main-white;
  margin-right: 93px;

  &__list {
    display: flex;
  }

  &__title {
    display: block;
    margin-bottom: 20px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    @include font(14px, 700, 1.17);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.footer-social__link {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-text-color;
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__icon {
  fill: $main-white;
}
