.hero {
  display: block;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/bg-image.jpg);
  background-color: rgba(47, 48, 58, 0.4);

  background-repeat: no-repeat;
  border: none;

  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  max-width: 1600;

  .container {
    display: block;
    text-align: center;
  }

  &__title {
    margin-bottom: 30px;
    text-align: center;

    color: $main-white;
    @include font(44px, 900, 1.36);
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;

  cursor: pointer;

  background-color: $accent-text-color;
  color: $main-white;
  font-family: Roboto, sans-serif;
  font-style: normal;
  @include font(16px, 700, 1.87);
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-text-color;
  }
}
