.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $sub-background;
}

.our-team__title {
  margin-bottom: 50px;
}

.our-team__list {
  display: flex;
  flex-wrap: wrap;
}

.our-team__item {
  height: 428px;
  padding-bottom: 30px;
  background-color: $main-white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.our-team__image {
  display: block;
  margin-bottom: 30px;
}

.our-team__subtitle {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
}

.our-team__position {
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-social__list {
  display: flex;
  justify-content: center;
}

.team-social__icon {
  fill: $social-links;
  transition: fill 250ms $timing-function;

  .team-social__link:hover &,
  .team-social__link:focus & {
    fill: $main-white;
  }
}

.team-social__link {
  display: block;
  background-color: $main-white;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-text-color;
  }
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}
