.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 500ms $timing-function;

  transition-property: opacity, visibility;
  transition-duration: 400ms;
  transition-timing-function: $timing-function;

  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 39px;
  padding-left: 41px;

  width: 528px;
  height: 581px;
  background-color: $main-white;
  border-radius: 4px;

  box-shadow: 0px 2px 1px 0px (0, 0, 0, 0, 2), 0px 1px 1px 0px (0, 0, 0, 0, 14),
    0px 1px 3px 0px (0, 0, 0, 0, 12);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  transition-delay: 150ms;

  &__button {
    position: absolute;
    padding: 6px;
    @extend %flex-center;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background: $main-white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover > .modal__close-icon,
    &:focus > .modal__close-icon {
      fill: $accent-text-color;
    }
  }
}

.modal-form__title {
  display: block;
  margin-bottom: 12px;
  font-family: Roboto, sans-serif;
  @include font(20px, 700, 1.15);
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;

  margin-bottom: 10px;

  &.textarea {
    margin-bottom: 20px;
  }

  & label {
    margin-bottom: 4px;

    font-family: Roboto, sans-serif;
    font-style: normal;
    @include font(12px, 400, 1.17);

    letter-spacing: 0.01em;

    color: $primary-text-color;
  }

  &__text {
    resize: none;
  }

  &__input,
  &__text {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;

    outline: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: $primary-text-color;

    transition: border-color 250ms $timing-function;
  }

  &__input:focus,
  &__text:focus {
    border-color: $accent-text-color;
  }

  & .form-field__text {
    min-height: 120px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
  }

  & textarea::placeholder {
    font-family: Roboto, sans-serif;
    font-style: normal;
    @include font(14px, 400, 1.14);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form-field__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: $title-text-color;

  transition: color 250ms $timing-function;

  .form-field__input:hover + &,
  .form-field__input:focus + & {
    fill: $accent-text-color;
  }
}

.form-checkbox {
  @extend %flex-center;
  margin-bottom: 30px;

  & label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }

  & input {
    position: absolute;
    margin-right: 8px;
  }
}

.check-icon {
  margin-right: 8px;

  fill: $main-white;

  border-radius: 2px;
  border: 2px solid $title-text-color;

  transition: background-color 250ms $timing-function,
    border-color 250ms $timing-function;

  .form-checkbox input:checked + & {
    border: none;
    background-color: $accent-text-color;
  }
}

.agreement-link {
  text-decoration: underline;
  color: $accent-text-color;

  text-decoration-skip-ink: none;
}

.modal__submit-button {
  display: block;
  min-height: 50px;
  width: 200px;
  margin: 0 auto;
  color: $main-white;
  background-color: $accent-text-color;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-style: normal;
  @include font(16px, 700, 1.88);
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
