$primary-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196f3;

$logo-black-color: #000000;

$main-white: #ffffff;
$sub-background: #f5f4fa;
$accent-background: #2f303a;
$social-links: #afb1b8;
$clients-logo-border: #afb1b8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
